* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/img/);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contenedor-Index {
    width: 900px;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

#menu-index {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1em;
    border-radius: 5px;
    overflow: auto; /* Agregado para manejar contenido desbordado */
}

#contenido-index {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

ul {
    text-align: center;
    padding: 10px;
    list-style: none; /* Eliminado el estilo de la lista */
}

li {
    text-align: justify;
    padding: 10px;
    margin: 0%;
}

li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

li a:hover {
    color: crimson;
}